/penn2/analysis/Leon/log_12_to_40_all_average_channel.png
/penn2/analysis/Leon/log_12_to_40_all_single_trial_channel.png
/penn2/analysis/Leon/log_72_to_82_all_average_channel.png
/penn2/analysis/Leon/log_72_to_82_all_single_trial_channel.png
